/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mobile devices only (max-width: 768px) */
.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

@media (min-width: 769px) {
  /* Desktop devices only */
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }
}
